.nameRow {
  display: flow-root;
  position: relative;
  margin-bottom: $margin-medium;
}

.reviewName {
  text-align: left;
  font-size: $font-large;
  float: left;
}

.reviewStars {
  float: right;
  @include size($review-width);
}

.reviewLocation {
  text-align: left;
  margin-bottom: $margin-large;
  color: $color-location;
}

.reviewContent {
  display: flex;
  flex-direction: column;
}

.horizontal-line {
  @include size(80%, 0);
  border: solid 0.7px $color-border;
}

.title {
  font-size: $font-large;
  text-align: left;
  font-style: italic;
  margin-bottom: $margin-large;
}

.reviewBody {
  font-size: $font-medium;
  text-align: left;
}

.title-5-stars {
  color: $color-5-stars;
}
.title-4-stars {
  color: $color-4-stars;
}
.title-3-stars {
  color: $color-3-stars;
}
.title-2-stars {
  color: $color-2-stars;
}
.title-1-stars {
  color: $color-1-stars;
}
