.item {
  background-color: #fff;
  height: 50px;
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  padding: $padding-large;
  text-align: left;
  &:hover {
    background-color: rgba(250, 250, 250, 0.95);
    cursor: pointer;
  }
}

.active {
  border-left: solid 3px red;
  background-color: rgba(250, 250, 250, 0.8);
}

.fullName {
  font-size: $font-medium;
  font-weight: bold;
}

.reviewTitle {
  font-size: $font-small;
  margin-top: 15px;
}

.stars {
  float: right;
  @include size($review-width-small);
}
