
.product-information {
  padding: $padding-medium;
  height: 60px;
}

.product-name {
  font-size: $font-large;
  text-align: left;
  margin-bottom: $margin-medium;
}

.review-summary {
  display: flow-root;
  position: relative;
}

.review-count {
  float: right;
}

.average-review {
  @include size($review-width);
  float: left;
  margin-bottom: $margin-small;
}
