
$color-background: rgb(245, 245, 245);

$color-border: #e1e1e1;
$color-primary: #222222;
$color-location: #555555;

$color-5-stars: #02B57B;
$color-4-stars: #70D015;
$color-3-stars: #FFCD00;
$color-2-stars: #FE881C;
$color-1-stars: #F93828;

$color-selected: #0c59f2;


// Measures
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;

$font-small: 0.8em;
$font-medium: 1em;
$font-large: 1.2em;

$border-width: 2px;
$review-width: 120px;
$review-width-small: 80px;
